/* General Styles */
.homepage {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */
.navbar {
  background-color: #0c1c3e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.navLogo {
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.navLinks {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-family: 'Chakra Petch', sans-serif;
}

.navItem {
  line-height: 40px;
  margin-right: 2rem;
}

.navItem:hover .navLinks {
  border-bottom: 3px solid #046cf1;
}

.navIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navMenu.active {
    background: #fff;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navLinks {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .navIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #046cf1;
  }
}

/* Hero Section */
.hero {
  background: url('/path/to/your/background-image.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 0 20px;
}

.heroContent {
  max-width: 800px;
}

.heroContent h1 {
  font-family: Georgia, serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.heroContent p {
  font-size: 1.2rem;
  font-family: "Times New Roman", serif;
  margin-bottom: 20px;
}

.getStarted {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.getStarted:hover {
  background-color: #0056b3;
}

/* Info Section */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #111827;
  padding: 4rem 6rem;
}

.heading {
  font-weight: 500;
  font-size: 2.1rem;
  font-family: "Archivo", sans-serif;
  color: #046cf1;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  width: 60vw;
  padding: 20px;
  align-items: center;
  min-height: auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 20px;
  background-color: #fff;
}

.card:nth-child(2) {
  display: flex;
  padding: 20px;
  flex-direction: row-reverse;
}

.image img {
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
}

.cardTitle {
  color: #046cf1;
  font-family: "Archivo", sans-serif;
}

/* Footer Section */
.footer {
  padding: 30px 6rem;
  background-color: #edf2f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer .header {
  font-size: 15px;
  font-family: 'Chakra Petch', sans-serif;
}

.footer .header a {
  text-decoration: none;
  color: #046cf1;
}

.footer .header a:hover {
  color: #080fd4;
}

.footer .handles {
  display: flex;
  gap: 15px;
}

.footer .handles a {
  cursor: pointer;
  text-decoration: none;
  color: #046cf1;
}

.footer .handles a:hover {
  color: #080fd4;
}

.footer .handles svg {
  height: 30px;
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
  .footer {
    padding: 20px 2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
  .footer {
    flex-direction: column;
    gap: 4px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 599px) {
  .footer {
    flex-direction: column;
    gap: 4px;
  }

  .footer .header {
    font-size: 13px;
    gap: 2px;
  }

  .footer .handles svg {
    height: 25px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 549px) {
  .footer {
    padding: 20px 2rem;
    flex-direction: column;
    gap: 4px;
  }

  .footer .header {
    font-size: 13px;
    gap: 2px;
  }

  .footer .handles svg {
    height: 20px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
  .footer {
    padding: 10px 2rem;
    flex-direction: column;
    gap: 3px;
  }

  .footer .header {
    font-size: 12px;
    gap: 2px;
  }

  .footer .handles svg {
    height: 16px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
  .footer {
    padding: 10px 1rem;
    flex-direction: column;
    gap: 8px;
  }

  .footer .header {
    font-size: 10px;
    gap: 2px;
  }

  .footer .handles svg {
    height: 16px;
  }
}